version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "friday"
      time: "06:00"
      timezone: "America/Chicago"
    commit-message:
      prefix: "chore"
    group:
      github-actions:
        patterns: "*"
    ignore:
      # These actions deliver the latest versions by updating the
      # major release tag, so ignore minor/patch updates
      - dependency-name: "actions/*"
        update-types:
          - "version-update:semver-minor"
          - "version-update:semver-patch"

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "friday"
      time: "06:00"
      timezone: "America/Chicago"
    commit-message:
      prefix: "chore"
    group:
      github-actions:
        patterns: "*"
