[Desktop Entry]
Version=2019.3.3
Type=Application
Terminal=false
Name=WebStorm
Icon=/opt/webstorm/bin/webstorm.png
Exec=/opt/webstorm/bin/webstorm.sh
