name: build

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  # Quick checks, running linters, checking formatting, etc
  quick:
    runs-on: ubuntu-20.04
    steps:
      - name: Cancel Previous Runs
        if: ${{ github.event_name != 'pull_request' }}
        uses: styfle/cancel-workflow-action@0.8.0

      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 12.x

      - name: Install Node Modules
        run: yarn install

      - name: Check Formatting
        run: yarn format:check

  images:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        job:
          - arch
          - centos
          - ubuntu
    name: images/${{ matrix.job}}
    steps:
      - name: Cancel Previous Runs
        if: ${{ github.event_name != 'pull_request' }}
        uses: styfle/cancel-workflow-action@0.8.0

      - name: Checkout
        uses: actions/checkout@v2

      - name: Build ${{ matrix.job }} images
        run: |
          ${{ github.workspace }}/scripts/build_images.sh \
            --tag=${{ matrix.job }}

      - name: Login to DockerHub
        if: ${{ github.event_name != 'pull_request' }}
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push images
        if: ${{ github.event_name != 'pull_request' }}
        run: |
          ${{ github.workspace}}/scripts/push_images.sh \
            --tag=${{ matrix.job}}
